*
{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}
body
{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;

}

.left-header
{
    position: fixed;
    display: flex;
    flex-direction: column;
    margin: 20px 0 0;
    font-size: 18px;
    background: #fff;
    align-items: flex-end;
    width: 448px;
    padding: 12px 25px 12px 40px;
    
    
}
._3sp-w
{
    padding: 0!important;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;
    margin-top: 2rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}
._28TS7
{
    list-style-type: none;
    padding: 12px 24px 12px 20px;
    border-radius: 50px;
    color: #f5f5f5;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}
._1o3h5
{
    display:flex;
    height: 20px;
}
.option-name
{
    font-size: 18px;
    margin: 10px;
    padding-right: 2px;
    font-weight: bolder;
    font-family: Roboto,sans-serif;

}
.option
{
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 50px;
}
.option:hover
{
    background: #eff2f3;

}

.title:hover
{
    background: #eff2f3;
    border-radius: 50px;
}
.koo
{
    background: #5d7681;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: 1px solid #759295;
    padding: 8px;
    width: 150px;
    place-content: center;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;

}
.signin
{
    background: #5d7681;
    width: 150px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid #759295;
    color: #fff;
    padding: 8px;
    place-content: center;
    margin-top: 200px;
    font-size: 18px;
}
.signin:hover,.koo:hover
{
    background-color: #97aeaf;
}
.middle
{
    background: #f8f7f3;
    padding: 24px 24px 0;
    position: relative;
    max-width: 620px;
    height: 870px;
    margin: auto;
    font-family: 'Roboto', sans-serif !important;
}

.header
{
    display: flex;
    /* position:fixed; */
    justify-content: space-evenly;
    z-index:3;
    background-color:#f8f7f3;
    margin-right: auto;
    margin-left: auto;
    font-weight: 400;
    width: 190vw;
    max-width: 572px;
}


.title
{
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 0 0.15rem;
    font-size: 100%;
    line-height: 1.15;
    overflow: visible;
    font-family: 'Roboto', sans-serif !important;
    text-transform: none;
    -webkit-appearance: button;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    white-space: nowrap;
    padding: 1px 6px;
}

.title-name
{
    color: #5d7681;
    font-size: 16px;
    margin: 0;
    font-weight: bolder;
    font-family: Roboto,sans-serif;
    /* margin-block-start: 1.67em; */
    /* margin-block-end: 1.67em; */
    /* margin-inline-start: 0px; */
    /* margin-inline-end: 0px; */
}

.people
{
    display: flex;
    justify-content: space-between;
    margin:  auto 0.5rem 0px;
    align-items: center;
}

#allpeople
{
    padding: 0.75rem 0;
    background: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: none;
    transition: all .4s ease-in-out;
}

.box
{
    display: flex;
    justify-content: space-evenly;
    background: #fff;
    border-bottom: 1px solid #e8e8e3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 0.25em 0;
    font-size: 1rem;
    height: 77px;
}

.profile-image
{
    width: 52px;
    height: 52px;
    object-fit: cover;
    border-radius: 50%;
    margin: 0px 0.5rem 0px 0.25rem;
    margin-left: 10px;
    margin-top: 7px;
}
.div2
{
    padding-top: 0.5em;
    flex-grow: 8;
    width: 100%;
    min-width: 0;
}

.indiv1
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    letter-spacing: -0.32px;
    color: #494848;
}

.indiv2
{
    display: flex;
    align-items: center;

}

.follow
{
    background: #809b9d;
    border: 1px solid #759295;
    cursor: pointer;
    border-radius: 20px;
    padding: 7px 16px 5px;
    color: #fff;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 0.5em;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    width: fit-content;
    z-index: 1;
    font-size: 12px;
    position: relative;
}

.follow:hover{
    background: #97aeaf;
}

.afterfollow
{
    background: rgb(255, 255, 255);
    color: rgb(117, 146, 149);
    border: 1px solid #759295;
    border-radius: 20px;
    padding: 7px 16px 5px;
    margin-top: 0.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    cursor: pointer;

}
.div3
{
    padding: 0.1em 13px 0 0.2em;
    flex-grow: 1;
    text-align: center;
}
#container{
    width: 30%;
    overflow: hidden;
    float: right;
    position: fixed;
    margin-top: -865px;
    margin-left: 1080px;
}
#inputDiv{
    width: 75%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f8f7f3;
    margin: 30px 0px 30px 20px;
    border-radius: 24px;
    border: 1px solid #eee;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    display: flex;
    justify-content: space-between;
}
#inputDiv img{
    width: 30px;
}
#inputDiv input{
    background-color: #f8f7f3;
    border: none;
}
#trendingTags{
    display: flex;
    flex-direction: column;
    width: 75%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
    padding: 10px;
    background-color: #f8f7f3;
    margin: 30px 0px 0px 20px;
    border-radius: 12px;
    border: 1px solid #eee;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    padding-left: 0px;
    padding-right: 0px;

}
.tags{
    display: flex;
    justify-content: space-between;
    border: 0.5px solid #eee;
    padding: 0px;
    font-family: 'Roboto', sans-serif !important;
    margin: 0px;
    align-items: center;
    
}
.tags button{
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif !important;
    margin: 10px;
   
}
.tags div{
    display: flex;
    flex-direction: column;
    
}
.tags div div {
    flex-direction: row;
    margin: 0px 0px 15px 15px;
    

}
.tags h2{
    margin: 10px;
    
}
.tags h4{
    margin-bottom:5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif !important;
   margin-left: 20px;
   color:#1e63bd;
}
.tags div div  img{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0px;
}    
#viewMore{
    display: flex;
    color:#1e63bd;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif !important;
    margin-right: 25%;
    font-size: 16px;
}  
#navContents{
    margin-left: 30px;
    display: grid;
    width: 75%;
    grid-template-columns: repeat(4,1fr);
    color: rgb(177, 180, 180);
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px;
}  

#navContents>p
{
    font-size: 16px;
}