  body{
    width: 40%;
    margin: auto;
    border: 1px solid black;
    background-color: #fff;
}
#heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.5px;
    margin-bottom: 12px;
}  
.Follow_Card  {
display: flex;
-ms-flex-direction: row;
flex-direction: row;
margin: 0;
min-height: 10em;

-ms-flex-wrap: no-wrap;
flex-wrap: no-wrap;
margin-top: -15px;
}
.box{
border: 1px solid #e8e8e3;
padding: 9px;
border-radius: 8px;
text-align: center;
width: 70px;
margin: 5px;
min-height: 10em;
background-color: #fff;
position: relative;
}
  
.photo{
width: 80px;
height: 80px;
border-radius: 50%;
-o-object-fit: cover;
object-fit: cover;
margin: auto;
}
img {
border-style: none;
}
.gam_in_imgandname{
height: 30px;
margin: 7px 0 0;
line-height: 15px;
text-align: center;
font-size: 9px;
}
.name {
margin: 17px auto 0!important;
font-size: 13px;
font-weight: 700!important;
text-align: center;
color: #424242;
}
.gap_above_button {
height: 30px;
margin: 7px 0 0;
line-height: 15px;
width: 7.5em;
font-size: 11px;
}
.below_name_gap{
color: gray;
}
.button_possition{
position: absolute;
bottom: -19px;
left: 50%;
-webkit-transform: translate(-50%);
-ms-transform: translate(-50%);
transform: translate(-50%);
}
#button{
background: #809b9d;
border: 1px solid #759295;
cursor: pointer;
border-radius: 20px;
padding: 7px 16px 5px;
color: #fff;
margin-top: 0.5em;
font-weight: 600;
margin-bottom: 0.5em;
white-space: nowrap;
text-align: center;
overflow: hidden;
width: -webkit-fit-content;
width: -moz-fit-content;
width: fit-content;
z-index: 1;
font-size: 12px;
position: relative;
-webkit-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}
._2nxUQ {
margin: 0 0 12px;
padding: 10px;
height: 24px;
-ms-flex-item-align: stretch;
-ms-flex-align: center;
align-items: center;
}

._2nxUQ, ._3sjNV {
background: #fff;
border: 1px solid rgb(222, 222, 222);
border-radius: 1px;
align-self: stretch;
text-decoration: none;
font-family: Roboto,sans-serif!important;
color: #424242;
display: -ms-flexbox;
display: flex;
-webkit-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}
._30Ibw  {
border: 1px solid #e8e8e3!important;
width: 100%;
margin: auto;
border-radius: 15px;
}
a {
background-color: transparent;
}
a {
color: #007bff;
text-decoration: none;
background-color: transparent;
}
._2g5_T, ._3p-gL {
-o-object-fit: cover;
object-fit: cover;
border-radius: 50%;
}
._2g5_T {
width: 48px;
height: 48px;
}
img {
border-style: none;
}
img {
vertical-align: middle;
border-style: none;
}
._1i5aj {
-ms-flex-direction: column;
flex-direction: column;
margin-left: 9px;
}
._1i5aj, ._34Mmp {
display: -ms-flexbox;
display: flex;
width: 76%;
}
.lOPTQ, .WVFhj {
display: -ms-flexbox;
display: flex;
}
.WVFhj {
gap: 8px;
white-space: nowrap;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: justify;
justify-content: space-between;
}
.lOPTQ {
-ms-flex-align: start;
align-items: flex-start;
-ms-flex-pack: start;
justify-content: start;
overflow: hidden;
width: 100%;
}

.lOPTQ, .WVFhj {
display: -ms-flexbox;
display: flex;
}
._15YGm {
width: 15px;
height: 15px;
-ms-flex-item-align: start;
align-self: flex-start;
margin-top: 5px;
}
._1kPKr {
-ms-flex-pack: justify;
justify-content: space-between;
gap: 2px;
}
._1kPKr, .DI7CX {
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
}
._1sU-1 {
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
-ms-flex-pack: start;
justify-content: flex-start;
overflow: hidden;
width: 100%;
}
._2_S3a {
font-weight: 500;
font-size: 14px;
letter-spacing: -.24px;
text-decoration: none;
}
._2_S3a, .D-1g6 {
font-style: normal;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
color: #888;
}
._1kPKr, .DI7CX {
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
}
.DI7CX {
-ms-flex-pack: end;
justify-content: flex-end;
gap: 4px;
margin-top: 0;
}
._2_S3a, .D-1g6 {
font-style: normal;
-o-text-overflow: ellipsis;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
color: #888;
}
.D-1g6 {
font-weight: 100;
font-size: 13px;
line-height: 18px;
letter-spacing: -.078px;
position: relative;
top: 2px;
}
._1k7kf {
text-align: center;
position: relative;
margin: 0 4px;
}
._285LB {
width: 24px;
height: 24px;
vertical-align: middle;
margin-right: 13px;
padding: 2px;
color: #888;
}
._1egvN {
position: relative;
display: -ms-flexbox;
display: flex;
width: 10px;
margin-left: 5px;
/* height: 24px; */
margin-top: 0;
-ms-flex-pack: center;
justify-content: center;
-ms-flex-align: center;
align-items: center;
cursor: pointer;
}

._3NfMI {
text-align: left;
white-space: pre-line;
line-height: 1.4;
padding: 0 16px;
width: 100%;
font-size: 16px;
word-break: break-word;
}
._1zYI8 {
position: absolute;
left: 50%;
top: 50%;
width: 50px;
height: 50px;
border-radius: 50%;
background: rgba(0,0,0,.5);
-webkit-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
}
._1ALQh, ._1jVm- {
position: absolute;
}

._1jVm- {
display: inline-block;
left: 2%;
bottom: 3%;
min-width: 50px;
height: 25px;
border-radius: 10px;
background: rgba(0,0,0,.6);
}
._2y4P8, ._2y4P8:hover {
-webkit-transition: all .1s ease-in-out;
-o-transition: all .1s ease-in-out;
transition: all .1s ease-in-out;
}
._2y4P8 {
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
margin: 12px 14px 0;
cursor: pointer;
border: 1px solid #e8e8e3;
padding: 5px 8px;
border-radius: 10px;
color: #e0e0e0;
font-size: 14px;
height: 32px;
}
._3p-gL {
width: 20px;
height: 20px;
}

._2g5_T, ._3p-gL {
-o-object-fit: cover;
object-fit: cover;
border-radius: 50%;
}
._2WOBt {
width: 100%;
position: relative;
margin-left: 8px;
cursor: pointer;
color: #888;
}
._1AfRO, ._1NUm- {
display: -ms-flexbox;
display: flex;
-ms-flex-direction: row;
flex-direction: row;
}
._1NUm- {
padding: 12px 14px 7px;
min-width: 300px;
position: relative;
-ms-flex-pack: justify;
justify-content: space-between;
font-style: normal;
font-weight: 400;
font-size: 13px;
letter-spacing: -.24px;
color: #888;
}
._1AfRO {
-ms-flex-align: center;
align-items: center;
gap: 0;
-ms-flex-pack: start;
justify-content: flex-start;
}
._1AfRO, ._1NUm- {
display: -ms-flexbox;
display: flex;
-ms-flex-direction: row;
flex-direction: row;
}
._13Ai0 {
width: 26px;
height: 26px;
border-radius: 26px;
margin-right: -1px;
cursor: pointer;
position: relative;
padding: 0 1px 1px;
margin-top: 1px;
}
._2oTjk, .SXhkH {
height: 20px;
width: 20px;
}
.hMEiF {
display: block;
cursor: pointer;
font-size: 13px;
margin-bottom: 1px;
font-weight: 500;
}
._1ESMS {
width: 26px;
height: 26px;
border-radius: 26px;
margin-right: 6px;
cursor: pointer;
position: relative;
padding: 0 1px 1px;
margin-top: 1px;
}
._13Ai0 {
width: 26px;
height: 26px;
border-radius: 26px;
margin-right: -1px;
cursor: pointer;
position: relative;
padding: 0 1px 1px;
margin-top: 1px;
}
._39gd- {
-webkit-transition: all .4s ease-in-out;
-o-transition: all .4s ease-in-out;
transition: all .4s ease-in-out;
}
.tic4m {
display: -ms-flexbox;
display: flex;
-ms-flex-pack: center;
justify-content: center;
}
.zdsuK {
opacity: 0;
top: 0!important;
}
._2Drbb, .zdsuK {
-webkit-transition: .4s ease-in-out;
-o-transition: .4s ease-in-out;
transition: .4s ease-in-out;
}
._1YbJz {
background: #809b9d;
border-radius: 18px;
display: -ms-flexbox;
display: flex;
-ms-flex-align: center;
align-items: center;
border: 0.5px solid #759295;
padding: 4.8px 12px;
padding: 0.3rem 12px;
place-content: center;
color: #fff;
font-size: 14px;
font-weight: 400;
cursor: pointer;
-webkit-transition: background .4s ease-in-out;
-o-transition: background .4s ease-in-out;
transition: background .4s ease-in-out;
}

